body {
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
}

h3 {
    color: orange;
    text-align: center;
}

h4 {
    color: orange;
    text-align: center;
}

p {
    color: darkorange;
    text-align: center;
}